#bio
	h1#name #{bio.name}

	#contact

		if bio.website
			#website
				a(href=bio.website)
					i.fas.fa-lg.fa-fw.fa-globe
					span #{bio.website}

		if bio.email
			#email
				a(href="mailto:" + bio.email)
					i.fas.fa-lg.fa-fw.fa-envelope
					span #{bio.email}

		if bio.phone
			#phone
				a(href="tel:" + bio.email)
					i.fas.fa-lg.fa-fw.fa-phone
					span #{bio.phone}
		
		if bio.location
			#phone
				i.fas.fa-lg.fa-fw.fa-home
				span #{bio.location.address}, #{bio.location.city}, #{bio.location.region} #{bio.location.postalCode}

	if bio.profiles
		#profiles
			each profile in bio.profiles
				.profile
					a(href=profile.url)
						i(class="fab fa-lg fa-fw fa-" + profile.network.toLowerCase())
						span #{profile.username}